@import url("http://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");
body, button{
    font-family: "Inter", sans-serif;
    background: #f7f7f7;
}

/* MENU DASHBOARD NORMAL */
:root{
    --offcanvas-width: 15rem;
    --topNavbarHeight: 3.5rem;
}
.sidebar-nav{
    width: var(--offcanvas-width);
}
.index-dropdown-menu{
    width: 13rem;
}
.modal-backdrop{
    width: 100%;
    height: 100%;
}
.sidebar-link{
    display: flex;
    align-items: center;
}
.sidebar-link .right-icon{
    display: inline-flex;
    transition: all ease 0.25s;
}
.sidebar-link[aria-expanded="true"] .right-icon {
    transform: rotate(180deg);
}
/* END MENU DASHBOARD NORMAL */



/* SCREEN LAPTOP 992px*/
@media (min-width:992px) {
    body{
        overflow: auto !important;
    }
    /* LOGIN MENU SCREEN LAPTOP*/
    .login-menu{
        width: 25rem;
    }
    /* END LOGIN MENU SCREEN LAPTOP*/

    /* MENU DASHBOARD SCREEN LAPTOP */
    .modal-backdrop{
        display: none !important;
    }
    .index-content{
        width: 30rem;
    }
    main{
        margin-left: var(--offcanvas-width);
    }
    .sidebar-nav{
        transform: none;
        visibility: visible !important;
        top:var(--topNavbarHeight);
        height: calc(100% - var(--topNavbarHeight));
    }
    /* END MENU DASHBOARD SCREEN LAPTOP */
}